* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: 70px 1fr 45px;
	row-gap: 5px;
	font-family: sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

.header {
	display: grid;
	place-content: center;
	background-color: rgba(139, 227, 253, 0.611);
	color: rgb(0, 0, 0);
	box-shadow: 0px 5px 16px 0.1px rgba(0, 0, 0, 0.505);
	font-size: 1.1rem;
}
.main{
	display: grid;
	place-content: center;
}
.main-starting{
	display: grid;
	place-content: center;
}
.startingBoard {
	display: grid;
	place-items: center;
}

.btn-start {
	display: inline-block;
	padding: 12px 24px;
	margin-top: 30px;
	background-color: #007bff;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	width: 30%;
	text-decoration: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-start:hover {
	background-color: #0056b3;
}
.game-starting-text{
	width: 90%;
	height: 100%;
	background-color: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	padding: 40px;
	margin: 30px;
	font-size:1.3rem;
	text-align: center;
}

.footer {
	display: grid;
	place-items: center;
	width: 100%;
	background-color: rgba(139, 227, 253, 0.611);
	color: rgb(0, 0, 0);
	box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.805);
	font-size: 1.3rem;
}

.footer-items {
	display: flex;
	gap: 10px;
}